.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.example-card {
    width: 700px;
    margin-bottom: 8px;
  }

  .title-sup {
    background: #F5F5F5;
    text-align: center;
    padding: 10px 0px;
  }

  h3 {
    display: inline-block;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    display: inline-block;
    margin-left: 50px;
  }

  .btnWarn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }