// @import '../../../../node_modules/reset-css/reset.css';
// @media (max-width: 900px) {
//   button #mat-button {
//     display: none;
//   }

//   button mat-icon-button.example-icon {
//     display: block;
//   }
// }

#container{
  width: 100%;
}

#matToolbar{
  width: 100%;
}
button {
  margin-right: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
.text-h1 {
  font-size: 2em;
  font-weight: bold;
}

