

#container{
  width: 100%;
}

#matToolbar{
  width: 100%;
}
button {
  margin-right: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
.text-h1 {
  font-size: 2em;
  font-weight: bold;
}

