<div id ="container">
  <button mat-icon-button class="btnMenuButton" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-button routerLink="/home/house" *ngIf="access">House</button>
    <button mat-button routerLink="/home/table" *ngIf="access">Table</button>
    <button mat-button routerLink="/home/worker" *ngIf="access">Worker</button>
    <button mat-button routerLink="/home/account">Account</button>
    <button mat-button routerLink="/home/menu" *ngIf="access">Menu</button>
    <button mat-button routerLink="/home/category" *ngIf="access">Categoria</button>
    <button mat-button routerLink="/home/kitchen" *ngIf="!access">Kitchen</button>
    <button mat-button routerLink="/home/take-orders" *ngIf="!access">Take Orders</button>
    <button mat-button routerLink="/home/orders-ready" *ngIf="!access">Orders Ready</button>

  </mat-menu>
  <mat-toolbar id = "matToolbar">
    
    <span class="text-h1">Dashboard</span>
    <span class="example-spacer"></span>

    <div class="navMenu">
      <button mat-button routerLink="/home/house" *ngIf="access">House</button>
      <button mat-button routerLink="/home/table" *ngIf="access">Table</button>
      <button mat-button routerLink="/home/worker" *ngIf="access">Worker</button>
      <button mat-button routerLink="/home/account">Account</button>
      <button mat-button routerLink="/home/menu" *ngIf="access">Menu</button>
      <button mat-button routerLink="/home/category" *ngIf="access">Categoria</button>
      <button mat-button routerLink="/home/kitchen" *ngIf="!access">Kitchen</button>
      <button mat-button routerLink="/home/take-orders" *ngIf="!access">Take Orders</button>
      <button mat-button routerLink="/home/orders-ready" *ngIf="!access">Orders Ready</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-button (click)="logout()">
      <span>Logout</span>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<!-- <p>Esta pagina funciona si estas autenticado</p>

<pre>{{ user | json }}</pre>

<button (click)="logout()">Logout</button> -->
