

#container{
  width: 100%;
}

#matToolbar{
  width: 100%;
}
button {
  margin-right: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
.text-h1 {
  font-size: 2em;
  font-weight: bold;
}

.btnMenuButton {
  display: none;
}

@media (max-width: 768px) {
  .navMenu {
    display: none;
  }

  .mat-toolbar-single-row {
    padding-left: 15vw;
  }

  .btnMenuButton {
    display: block;
    position: absolute;
    left: 0px;
  }
}

