<div class="container">
  <!-- <span class="spacer"></span> -->
  <select (change)="selectCategory($event.target)">
    <option value="" disabled selected>Seleccione una mesa...</option>
    <option *ngFor="let table of tableList" [value]="table._id">
      {{ table.number }}
    </option>
  </select>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Entrantes </mat-panel-title>
        <mat-panel-description>
          Detalles Entrantes
          <mat-icon>restaurant_menu</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" />
      </mat-form-field> -->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Bebidas </mat-panel-title>
        <mat-panel-description>
          Detalles de Bebidas
          <mat-icon>local_cafe</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput />
      </mat-form-field> -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Platos Principales </mat-panel-title>
        <mat-panel-description>
          Detalles de Platos Principales
          <mat-icon>cake</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput />
      </mat-form-field> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <button mat-menu-item>
    <mat-icon>restaurant_menu</mat-icon>
    <span>Entradas</span>
</button>
<button mat-menu-item>
    <mat-icon>local_dining</mat-icon>
    <span>Platos principales</span>
</button>
<button mat-menu-item>
    <mat-icon>local_cafe</mat-icon>
    <span>Bebidas</span>
</button>
<button mat-menu-item>
    <mat-icon>cake</mat-icon>
    <span>Postres</span>
</button> -->
