.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }


  .container {
    margin: 0 auto;
    width: 90%;
    margin-top: 0.5%;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  select {
    width: 200px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.select-container {
  display: flex;
  justify-content: end;
}

.claseTest {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  flex: 1; /* Para que ocupe el espacio restante */
}

.mat-action-row {
  border-top: none !important;
}

p {
  display: flex;
  align-items: center;
  margin: 0px;
}

img {
  width: 100px;
  border-radius: 20px;
}

.containerEnd {
  display: flex;
  justify-content: space-between;
}

.btnProduct {
  background: transparent;
  border: none;
}

.btnProduct:focus {
  background: transparent;
}

.textCount {
  margin: 10px 25px;
  width: 60px;
  display: inline-block;
}