<div class="containerMenu">
    <mat-toolbar class="matToolbarMenu">
      <span>Menu</span>
      <span class="spacer"></span>
   
      <select (change)="selectHouse($event.target)">
        <option value="" disabled selected>Seleccione una casa...</option>
        <option *ngFor="let house of houseList" [value]="house._id">
          {{ house.name }}
        </option>
      </select>

      <select (change)="selectCategory($event.target)" [disabled]="!houseSelected">
        <option value="" disabled selected>Seleccione una categoria...</option>
        <option *ngFor="let category of categoryList" [value]="category._id">
          {{ category.name }}
        </option>
      </select>
  
      <button
        mat-raised-button
        matTooltip="Adicionar"
        matTooltipClass="mat-tooltip"
        (click)="onAdd()"
      >
        Adicionar
      </button>
    </mat-toolbar>
  
    <app-data-table
      [data]="menuDataService.getListMenu"
      [class]="['','','showMedium','showLarge']"
      [listHeaders]="columnHeader"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    ></app-data-table>

  </div>
  
