<div class="containerTable">
  <mat-toolbar id="matToolbarTable">
    <span>Table</span>
    <span class="example-spacer"></span>
    <select (change)="selectHouse($event.target)">
      <option value="" disabled selected>Seleccione una casa...</option>
      <option *ngFor="let house of houseList" [value]="house._id">
        {{ house.name }}
      </option>
    </select>
    <button *ngIf="cantTables > listTable.length" mat-raised-button matTooltip="Adicionar" matTooltipClass="mat-tooltip" (click)="onAdd()">Adicionar</button>
  </mat-toolbar>

  <app-data-table
    [data]="tableDataService.getListTable"
    [listHeaders]="columnHeader"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-data-table>
</div>
