.containerTable {

    margin: 0 auto;
    width: 90%;
    margin-top: 0.5% ;
}

#matToolbarTable{
    border-radius: 5px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  select {
    width: 200px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}