.containerTable {

    margin: 0 auto;
    width: 90%;
    margin-top: 0.5% ;
}

.matToolbarTable{
    border-radius: 5px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  select {
    width: 200px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;    
    font-size: 14px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

button {
    margin-left: 10px;
}

@media (max-width: 768px) {

    .matToolbarTable {
      height: 85px;
    }
  
    ::ng-deep .mat-toolbar-single-row span:first-child {
      display: block;
      padding: 5px 0px;
    }
    
    :host ::ng-deep .mat-toolbar-single-row {
      display: block;
    }
    select {
      width: 152px;
    }
    :host ::ng-deep .mat-toolbar-single-row .mat-mdc-tooltip-trigger {
        width: 31vw;
        max-width: 165px;
    }
    :host ::ng-deep .mat-toolbar-single-row .mat-mdc-tooltip-trigger .mdc-button__label {
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }