<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Name the House</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Numbers of Tables</mat-label>
          <input matInput formControlName="tables">
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-button (click)="cancel()" >Cancel</button>
          <button mat-button (click)="save()" cdkFocusInitial>Add</button>
        </div>
    </form>
  </div>