<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field>
          <mat-label>Name the House</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Numbers of Tables</mat-label>
          <input matInput formControlName="tables">
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-button >No Thanks</button>
          <button mat-button  cdkFocusInitial>Ok</button>
        </div>
    </form>
  </div>